@model MedicineShop.Models.PrescriptionModel

@{
    ViewBag.Title = "DisplayImage";

    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("Courir"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("DeliveryMan"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}
<table class="table-hover table-responsive">
    <tr>
            <td>
                @{
                    var base64 = Convert.ToBase64String(Model.PrescriptionImage);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                }
                <img src="@imgsrc" style="max-width: 650px; max-height: 400px" />
            </td>
    </tr>
</table>