@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p><strong>
    Medicine is very essential for every people. So our main purpose was we would
    create a system that will help people to buy medicine from home. But now a days
    nobody trust anybody. There are so many fake web sites on internet. So we decided
    to give an extra feature that is product real time tracking. Our project was mainly
    for a shop but we made that system dynamic. In our project we wanted to give a
    modern and advance technology to our stakeholders. Here a shop owner (Admin)
    can manage the dues of customers, manage products, customers’ orders etc.
    Customer can order product in online and can see the current phase of that ordered
    product.
</strong>
</p>
