@model IEnumerable<MedicineShop.Models.DueAmount>

@{
    ViewBag.Title = "DueDetails";

    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("Courir"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("DeliveryMan"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Customer All accounts records</h2>


<table id="products" class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        
        <th>Amount</th>
        <th>Date</th>

    </tr>

    </thead>
    @foreach (var DueAmount in Model)
    {
        <tr>
            
            <td>@DueAmount.Amount</td>
            <td>@DueAmount.Date</td>
        </tr>
    }

</table>

